.links {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;

  a {
    color: white;
  }
}

.support-container {
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 20px;
}

.buy-link {
  border-bottom: none;
}

.vip-button {
  transition: transform 0.2s;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.btn-currency {
  $border-width: 3px;

  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  height: 40px + 2 * $border-width;
  border: $border-width solid transparent;

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }

  &.selected {
    border: $border-width solid #460e10;
  }
}

.table-vip {
  .section-header {
    td {
      text-align: center;
      font-weight: bold;
      color: white;
    }
  }

  .section-row {
    td {
      text-align: center;
    }

    &:hover {
      background-color: whitesmoke;
    }
  }

  td {
    padding: 5px;
  }
}